body{
    color: #ddd;
    background-color: #111;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
    font-family: Verdana, sans-serif;
    animation-name: myAnimation;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
}

