body{
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 0;
    font-family: Comic Sans MS;
    animation-name: myAnimation;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
  0%  {font-family: Comic Sans MS;}
  50%  {font-family: Helvetica;}
}
